*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #f2f3f4; */
    background-color: #f2f3f4;
}
::selection{
    background-color: rgba(255, 0, 38, 1);
    /* #ff0026 */
    color: #f2f3f4;
}
.main-grid{
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 200px 1fr;
    height: 100vh;
    color:rgba(10,10,10,1);
    
}

.grid1{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
}
.brand{
    user-select: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
     color: rgba(10,10,10,0.8);
}
.inline1{
    display: flex;
    gap: 0.5rem;
    width: 30rem;
}
.ghost{
    width: 2.2rem;
    color: rgba(255, 0, 38, 1)
}
.grid2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 1rem;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: minmax(2rem,5rem);
}
.inline2{
    width: 30rem;
}
.inline2>header{
    margin: 0;
    padding: 0;
    font-family: "Stalinist One", sans-serif;
}

.inline2>header>span{
    font-size: 4rem;
    display: block;
}
.reveal{
    /* background-color: blue; */
    color:rgba(255, 0, 38, 1) ;
    animation: smoke 6.5s infinite ease-in-out;
    user-select: none;
}
/* @keyframes revealSlide{
0%{transform: translateY(76px);}
100%{transform: translateY(-76px);}
} */

@keyframes smoke{
    0%{opacity:0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
   
}
.inline2>p{
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.7rem;
    color: rgba(10,10,10,0.8);
}
.inline2>.sub{
    display: flex;
    align-items: center;
    position: relative;
    height: 3.5rem;
}
.sub>button{
    user-select: none;
    font-size: 1.3rem;
    width: 6.5rem;
    height: 110%;
    border-radius: 10rem;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    background-color:#f2f3f4;
    color: rgba(10,10,10,1);
    cursor: pointer;
    box-shadow: -3px -3px 20px #fff,
    3px 3px 10px #aeaec0,
    inset -3px -3px 5px #aeaec0,
    inset 3px 3px 5px #fff;
}


.sub>button:active{
    box-shadow: inset -3px -3px 5px #fff,
    inset 3px 3px 5px #aeaec0;
    scale: 0.95;
}
.inline2>.sub>input{
    width: 90%;
    height: 100%;
    padding-left: 1.5rem;
    border-radius: 50px;
    background-color: transparent;
    border: solid 1px rgba(10,10,10,0.3);
    color: rgba(10,10,10,1);
    outline: none;
    font-family: "Montserrat", sans-serif;

}
.inline2>.sub>input:not(:placeholder-shown):invalid{
    border: solid 1px rgba(255, 0, 38, 1);
}
.inline2>.sub>input:not(:placeholder-shown):valid{
    border: solid 1px green;
}
.inline2>.sub>input:focus{
    border:solid 1px rgba(10,10,10,1);
}
.inline2>.sub>input::placeholder{
    font-size: 0.9rem;
    font-weight: 400;
    color: #ababab;
}

.grid3{
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url(images/pp--ff.png);
    background-size: cover;
    background-position: center;
    z-index: 100;
}

@media(max-width:1024px){
   
    .main-grid{
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 6rem 14rem 1fr;
    }
    .grid1{
        grid-row: 1/2;
    }
    .inline1{
        width: 100%;
        padding-left: 1.5rem;
    }
    .grid2{
        grid-row: 3/4;
        padding-top: 0;
    }
    .inline2{
        text-align: center;
        max-width: 25rem;
        padding: 2rem;
    }
   .inline2>.sub{
    height: 3rem;
    display: flex;
   }
   .sub>button{
    width: 5.5rem;
    font-size: 1rem;
   }.inline2>header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
    .inline2>header>span{
        font-size: 2.5rem;
    }

    .grid3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .brand{
        font-size: 0.8rem;
    }
    .ghost{
        width: 1.6rem;
    }

   }
   
